<section class="user-details">
<section class='user-section-card'>
<div class="user-img"><img src="<%= @user.photo %>" alt="user_photo"></div>
  <div class="user-card">
    <div class="user-card__name">
    <h1><%= @user.name %><h1>
    </div>
    <div class="user-card__email">
    <p>Number of posts:<%= @user.posts.length %> </p>  
  </div>
</section>
   
<% @post.each do |post| %>
  <%= link_to user_post_path(@user.id,post.id),  class: "post-p" do %>
    <section class='user-section-card'>
        <div class="user-card comment-card">
          <div class="user-card__name">
            <%= post.text %>
            <h3>Comments</h3>
            <% @user.comments.each do |comm| %>
              <h4>Comment# <%= comm.id %>:<%= comm.text %></h4>
              <% if can? :destroy, comment %>
            <%= form_with url: user_post_comment_path(@user, @post, comment), method: :delete do %>
              <button class="custom-button">Delete</button>
            <% end %>
          <% end %>
            <% end %>
          </div>
          <div class="comment__like">
            <p>Comments : <%= @user.comments.length %> </p>  
            <p>Likes:<%= @user.likes.length %> </p> 
            <%# handle delete post %>
            <%# <% if can? :read, @post %> 
               <%# <%= link_to "View", @post %> 
            <%# <% end %>  
          </div>
          <div class="actions">
    <% if can? :destroy, @post %>
      <%= form_with url: user_post_path(@user, @post), method: :delete do %>
        <button class="custom-button">Delete</button>
      <% end %>
    <% end %>
    <%= link_to new_user_post_comment_path(@user, @post) do %>
      <button class="custom-button">Comment</button>
    <% end %>
    <%= form_with model: Like.new, url: user_post_likes_path(@user, @post), method: :post do %>
      <button class="custom-button">Like</button>
    <% end %>
  </div>
        <div>
    </section>
  <% end %>
<% end %>
 <%= link_to 'Create new post', new_user_post_path(@user.id), class: "see-all" %> 
 <p class="copy-right">© 2022 GitHub, Inc. Terms</p>
</section>
